.txt{
    color:red;
    font-weight: 700;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.txt1{
    color:blue;
    font-weight: 700;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

.but1{
    color:white;
    background-color: red;
    border: red solid 1px;
    border-radius: 10px;
}
.imgs{
    width: 200px;
    height: 200px;
    border-radius: 30%; 
}